.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,246,241,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#___ {
	position: absolute;
	width: 329px;
	height: 363px;
	left: 315px;
	top: 359px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___1.html;
	cursor: pointer;
}
#BG {
	fill: rgba(253,245,200,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 363px;
	left: 0px;
	top: 0px;
}
#Single_page__with_slider_-____ {
	left: 19px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(74,74,74,1);
}
#_v {
	position: absolute;
	width: 329px;
	height: 363px;
	left: 1277px;
	top: 359px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___3.html;
	cursor: pointer;
}
#BG_w {
	fill: rgba(149,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_w {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 363px;
	left: 0px;
	top: 0px;
}
#Multiple_pages_-_ {
	left: 14px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 303px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#____y {
	position: absolute;
	width: 329px;
	height: 363px;
	left: 796px;
	top: 359px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___2.html;
	cursor: pointer;
}
#BG_z {
	fill: rgba(255,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_z {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 363px;
	left: 0px;
	top: 0px;
}
#Single_page_whitout_slider_-__ {
	left: 19px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}