.mediaViewInfo {
	--web-view-name: Changing Lives Home Health Care;
	--web-view-id: Changing_Lives_Home_Health_Care;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Changing_Lives_Home_Health_Care;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Changing_Lives_Home_Health_Care {
	position: absolute;
	width: 1903px;
	height: 6046px;
	background-color: rgba(255,246,241,1);
	overflow: hidden;
	--web-view-name: Changing Lives Home Health Care;
	--web-view-id: Changing_Lives_Home_Health_Care;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Banner {
	position: absolute;
	width: 1903px;
	height: 995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID1 {
	fill: transparent;
}
.ID1 {
	overflow: hidden;
	position: absolute;
	width: 1903px;
	height: 995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_27 {
	opacity: 0.22;
	fill: rgba(0,0,0,1);
}
._27 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1903px;
	height: 955px;
	left: 0px;
	top: 0px;
}
#Text {
	position: absolute;
	width: 801px;
	height: 254.094px;
	left: 551px;
	top: 268.517px;
	overflow: visible;
}
#_28 {
	opacity: 0.85;
	fill: rgba(225,27,34,1);
}
._28 {
	position: absolute;
	overflow: visible;
	width: 800px;
	height: 185px;
	left: 0px;
	top: 0.483px;
}
#Button {
	position: absolute;
	width: 163px;
	height: 45.994px;
	left: 318.708px;
	top: 208.099px;
	overflow: visible;
}
#_1__1 {
	opacity: 0.8;
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7 {
	fill: rgba(225,27,34,1);
}
._7 {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#Contact {
	left: 0px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#_20 {
	opacity: 0.8;
	fill: rgba(225,27,34,1);
}
._20 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 799.711px;
	height: 77px;
	left: 0px;
	top: -2.45px;
}
#Changing_Lives_Home_Health {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 802px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(255,246,241,1);
}
#_26 {
	opacity: 0.8;
	fill: rgba(225,27,34,1);
}
._26 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 799.711px;
	height: 111px;
	left: 0px;
	top: 74.55px;
}
#Changing_Lives_Home_Health_is_ {
	left: 0px;
	top: 89.55px;
	position: absolute;
	overflow: visible;
	width: 801px;
	height: 96px;
	line-height: 30px;
	margin-top: -7px;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Services {
	position: absolute;
	width: 939.276px;
	height: 292.389px;
	left: 481.862px;
	top: 586px;
	overflow: visible;
}
#SkilledNursing {
	opacity: 0.9;
	position: absolute;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_21 {
	opacity: 0.8;
	fill: rgba(225,27,34,1);
}
._21 {
	position: absolute;
	overflow: visible;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
}
#SKILLED__NURSING {
	left: 40.336px;
	top: 152.272px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#_12 {
	position: absolute;
	width: 126.867px;
	height: 128px;
	left: 10.903px;
	top: 12.272px;
	overflow: visible;
}
#_1 {
	fill: rgba(255,246,241,1);
}
._1 {
	position: absolute;
	overflow: visible;
	width: 126.867px;
	height: 128px;
	left: 0px;
	top: 0px;
}
#Nurse {
	position: absolute;
	width: 80.753px;
	height: 98.924px;
	left: 23.057px;
	top: 9.538px;
	overflow: visible;
}
#_7_ {
	position: absolute;
	width: 80.753px;
	height: 98.924px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_23 {
	fill: rgba(225,27,34,1);
}
._23 {
	overflow: visible;
	position: absolute;
	width: 14.864px;
	height: 3.036px;
	left: 52.979px;
	top: 87.758px;
	transform: matrix(1,0,0,1,0,0);
}
#_6 {
	position: absolute;
	width: 80.753px;
	height: 98.924px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_24 {
	fill: rgba(225,27,34,1);
}
._24 {
	overflow: visible;
	position: absolute;
	width: 80.753px;
	height: 98.924px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_25 {
	fill: rgba(225,27,34,1);
}
._25 {
	overflow: visible;
	position: absolute;
	width: 10.519px;
	height: 4.692px;
	left: 35.17px;
	top: 49.457px;
	transform: matrix(1,0,0,1,0,0);
}
#_26_ {
	fill: rgba(225,27,34,1);
}
._26_ {
	overflow: visible;
	position: absolute;
	width: 3.184px;
	height: 4.098px;
	left: 29.972px;
	top: 38.02px;
	transform: matrix(1,0,0,1,0,0);
}
#_27_ {
	fill: rgba(225,27,34,1);
}
._27_ {
	overflow: visible;
	position: absolute;
	width: 2.942px;
	height: 4.066px;
	left: 47.809px;
	top: 38.047px;
	transform: matrix(1,0,0,1,0,0);
}
#_28_ {
	fill: rgba(225,27,34,1);
}
._28_ {
	overflow: visible;
	position: absolute;
	width: 9.086px;
	height: 9.144px;
	left: 35.846px;
	top: 5.531px;
	transform: matrix(1,0,0,1,0,0);
}
#ArrowDown {
	position: absolute;
	width: 20.314px;
	height: 12.635px;
	left: 64.214px;
	top: 209.982px;
	overflow: visible;
}
#_96 {
	fill: rgba(255,246,241,1);
}
._96 {
	display: none;
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: -9.878px;
	top: -15.71px;
	transform: matrix(1,0,0,1,0,0);
}
#_97 {
	fill: rgba(255,246,241,1);
}
._97 {
	overflow: visible;
	position: absolute;
	width: 20.314px;
	height: 12.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PhisicalTherapy {
	opacity: 0.9;
	position: absolute;
	width: 148.672px;
	height: 245px;
	left: 158.121px;
	top: 47.389px;
	overflow: visible;
}
#_24_bc {
	opacity: 0.9;
	fill: rgba(255,246,241,1);
}
._24_bc {
	position: absolute;
	overflow: visible;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
}
#_2 {
	fill: rgba(225,27,34,1);
}
._2 {
	position: absolute;
	overflow: visible;
	width: 126.867px;
	height: 128px;
	left: 10.903px;
	top: 12.611px;
}
#Physical-therapy {
	position: absolute;
	width: 99.115px;
	height: 100px;
	left: 24.779px;
	top: 22.768px;
	overflow: visible;
}
#_29 {
	fill: rgba(255,246,241,1);
}
._29 {
	overflow: visible;
	position: absolute;
	width: 99.115px;
	height: 100px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PHYSICAL_THERAPY {
	left: 37.155px;
	top: 148.611px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#ArrowDown_bh {
	position: absolute;
	width: 20.877px;
	height: 12.273px;
	left: 63.535px;
	top: 210.516px;
	overflow: visible;
}
#_96_bi {
	fill: rgba(225,27,34,1);
}
._96_bi {
	display: none;
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 39.977px;
	left: -9.596px;
	top: -15.905px;
	transform: matrix(1,0,0,1,0,0);
}
#_97_bj {
	fill: rgba(225,27,34,1);
}
._97_bj {
	overflow: visible;
	position: absolute;
	width: 20.877px;
	height: 12.273px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#SpeechTherapy {
	opacity: 0.9;
	position: absolute;
	width: 148.672px;
	height: 245px;
	left: 316.242px;
	top: 0px;
	overflow: visible;
}
#_22 {
	opacity: 0.8;
	fill: rgba(225,27,34,1);
}
._22 {
	position: absolute;
	overflow: visible;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
}
#SPEECH_THERAPY {
	left: 39.336px;
	top: 151.5px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#_16 {
	position: absolute;
	width: 126.867px;
	height: 128px;
	left: 10.903px;
	top: 12.544px;
	overflow: visible;
}
#_3 {
	fill: rgba(255,246,241,1);
}
._3 {
	position: absolute;
	overflow: visible;
	width: 126.867px;
	height: 128px;
	left: 0px;
	top: 0px;
}
#Dialog {
	position: absolute;
	width: 90.432px;
	height: 86.605px;
	left: 18.832px;
	top: 15.385px;
	overflow: visible;
}
#_9 {
	position: absolute;
	width: 90.432px;
	height: 86.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_39 {
	fill: rgba(225,27,34,1);
}
._39 {
	overflow: visible;
	position: absolute;
	width: 58.152px;
	height: 45.351px;
	left: 14.006px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_40 {
	fill: rgba(225,27,34,1);
}
._40 {
	overflow: visible;
	position: absolute;
	width: 41.868px;
	height: 44.163px;
	left: 0px;
	top: 42.443px;
	transform: matrix(1,0,0,1,0,0);
}
#_41 {
	fill: rgba(225,27,34,1);
}
._41 {
	overflow: visible;
	position: absolute;
	width: 41.817px;
	height: 39.485px;
	left: 48.615px;
	top: 47.119px;
	transform: matrix(1,0,0,1,0,0);
}
#_42 {
	fill: rgba(225,27,34,1);
}
._42 {
	overflow: visible;
	position: absolute;
	width: 29.134px;
	height: 2.769px;
	left: 19.28px;
	top: 17.884px;
	transform: matrix(1,0,0,1,0,0);
}
#_43 {
	fill: rgba(225,27,34,1);
}
._43 {
	overflow: visible;
	position: absolute;
	width: 28.99px;
	height: 2.796px;
	left: 19.353px;
	top: 12.607px;
	transform: matrix(1,0,0,1,0,0);
}
#_44 {
	fill: rgba(225,27,34,1);
}
._44 {
	overflow: visible;
	position: absolute;
	width: 29.135px;
	height: 2.784px;
	left: 19.274px;
	top: 7.34px;
	transform: matrix(1,0,0,1,0,0);
}
#ArrowDown_bx {
	position: absolute;
	width: 20.877px;
	height: 12.273px;
	left: 63.897px;
	top: 210.361px;
	overflow: visible;
}
#_96_by {
	fill: rgba(255,246,241,1);
}
._96_by {
	display: none;
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 39.977px;
	left: -9.596px;
	top: -15.905px;
	transform: matrix(1,0,0,1,0,0);
}
#_97_bz {
	fill: rgba(255,246,241,1);
}
._97_bz {
	overflow: visible;
	position: absolute;
	width: 20.877px;
	height: 12.273px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#OccupationalTherapy {
	opacity: 0.9;
	position: absolute;
	width: 148.672px;
	height: 245px;
	left: 474.363px;
	top: 47.389px;
	overflow: visible;
}
#_25_b {
	opacity: 0.9;
	fill: rgba(255,246,241,1);
}
._25_b {
	position: absolute;
	overflow: visible;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
}
#OCCUPATIONAL_THERAPY {
	left: 13.336px;
	top: 149.272px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#_15 {
	position: absolute;
	width: 126.867px;
	height: 128px;
	left: 10.704px;
	top: 12.272px;
	overflow: visible;
}
#_4 {
	fill: rgba(225,27,34,1);
}
._4 {
	position: absolute;
	overflow: visible;
	width: 126.867px;
	height: 128px;
	left: 0px;
	top: 0px;
}
#TheRapist {
	position: absolute;
	width: 86.728px;
	height: 86.6px;
	left: 20.069px;
	top: 20.7px;
	overflow: visible;
}
#_46 {
	fill: rgba(255,246,241,1);
}
._46 {
	overflow: visible;
	position: absolute;
	width: 86.728px;
	height: 86.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_47 {
	fill: rgba(255,246,241,1);
}
._47 {
	overflow: visible;
	position: absolute;
	width: 7.964px;
	height: 4.24px;
	left: 71.163px;
	top: 48.533px;
	transform: matrix(1,0,0,1,0,0);
}
#_48 {
	fill: rgba(255,246,241,1);
}
._48 {
	overflow: visible;
	position: absolute;
	width: 2.873px;
	height: 2.873px;
	left: 69.375px;
	top: 43.298px;
	transform: matrix(1,0,0,1,0,0);
}
#_49 {
	fill: rgba(255,246,241,1);
}
._49 {
	overflow: visible;
	position: absolute;
	width: 2.874px;
	height: 2.874px;
	left: 78.037px;
	top: 43.297px;
	transform: matrix(1,0,0,1,0,0);
}
#_50 {
	fill: rgba(255,246,241,1);
}
._50 {
	overflow: visible;
	position: absolute;
	width: 7.973px;
	height: 4.259px;
	left: 16.299px;
	top: 19.641px;
	transform: matrix(1,0,0,1,0,0);
}
#_51 {
	fill: rgba(255,246,241,1);
}
._51 {
	overflow: visible;
	position: absolute;
	width: 2.873px;
	height: 2.873px;
	left: 14.51px;
	top: 14.425px;
	transform: matrix(1,0,0,1,0,0);
}
#_52 {
	fill: rgba(255,246,241,1);
}
._52 {
	overflow: visible;
	position: absolute;
	width: 2.874px;
	height: 2.874px;
	left: 23.172px;
	top: 14.425px;
	transform: matrix(1,0,0,1,0,0);
}
#ArrowDown_cd {
	position: absolute;
	width: 20.877px;
	height: 12.28px;
	left: 63.733px;
	top: 210.37px;
	overflow: visible;
}
#_96_ce {
	fill: rgba(225,27,34,1);
}
._96_ce {
	display: none;
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: -9.596px;
	top: -15.914px;
	transform: matrix(1,0,0,1,0,0);
}
#_97_cf {
	fill: rgba(225,27,34,1);
}
._97_cf {
	overflow: visible;
	position: absolute;
	width: 20.877px;
	height: 12.28px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#MedicalSocialWorker {
	opacity: 0.9;
	position: absolute;
	width: 148.672px;
	height: 245px;
	left: 632.484px;
	top: 0px;
	overflow: visible;
}
#_23_ch {
	opacity: 0.8;
	fill: rgba(225,27,34,1);
}
._23_ch {
	position: absolute;
	overflow: visible;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
}
#MEDICAL_SOCIAL_WORKER {
	left: 11.767px;
	top: 151.699px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#_13 {
	position: absolute;
	width: 126.867px;
	height: 128px;
	left: 11.299px;
	top: 12.941px;
	overflow: visible;
}
#_5 {
	fill: rgba(255,246,241,1);
}
._5 {
	position: absolute;
	overflow: visible;
	width: 126.867px;
	height: 128px;
	left: 0px;
	top: 0px;
}
#MedicalSocialWorker_cl {
	position: absolute;
	width: 84.151px;
	height: 87.386px;
	left: 20.962px;
	top: 20.307px;
	overflow: visible;
}
#_10 {
	position: absolute;
	width: 84.151px;
	height: 87.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_53 {
	fill: rgba(225,27,34,1);
}
._53 {
	overflow: visible;
	position: absolute;
	width: 52.448px;
	height: 75.278px;
	left: 0px;
	top: 12.102px;
	transform: matrix(1,0,0,1,0,0);
}
#_54 {
	fill: rgba(225,27,34,1);
}
._54 {
	overflow: visible;
	position: absolute;
	width: 39.737px;
	height: 87.387px;
	left: 44.414px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ArrowDown_cp {
	position: absolute;
	width: 20.877px;
	height: 12.28px;
	left: 64.328px;
	top: 210.37px;
	overflow: visible;
}
#_96_cq {
	fill: rgba(255,246,241,1);
}
._96_cq {
	display: none;
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: -9.596px;
	top: -15.914px;
	transform: matrix(1,0,0,1,0,0);
}
#_97_cr {
	fill: rgba(255,246,241,1);
}
._97_cr {
	overflow: visible;
	position: absolute;
	width: 20.877px;
	height: 12.28px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#HomeHealthAide {
	opacity: 0.9;
	position: absolute;
	width: 148.672px;
	height: 245px;
	left: 790.604px;
	top: 47.389px;
	overflow: visible;
}
#_25_ct {
	opacity: 0.9;
	fill: rgba(255,246,241,1);
}
._25_ct {
	position: absolute;
	overflow: visible;
	width: 148.672px;
	height: 245px;
	left: 0px;
	top: 0px;
}
#HOME {
	left: 24.336px;
	top: 149.272px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#_14 {
	position: absolute;
	width: 126.867px;
	height: 128px;
	left: 10.903px;
	top: 12.272px;
	overflow: visible;
}
#_4_cw {
	fill: rgba(225,27,34,1);
}
._4_cw {
	position: absolute;
	overflow: visible;
	width: 126.867px;
	height: 128px;
	left: 0px;
	top: 0px;
}
#HomeAide {
	position: absolute;
	width: 77.187px;
	height: 74.783px;
	left: 24.84px;
	top: 26.608px;
	overflow: visible;
}
#_55 {
	fill: rgba(255,246,241,1);
}
._55 {
	overflow: visible;
	position: absolute;
	width: 39.955px;
	height: 44.473px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_56 {
	fill: rgba(255,246,241,1);
}
._56 {
	overflow: visible;
	position: absolute;
	width: 41.274px;
	height: 65.986px;
	left: 35.913px;
	top: 8.797px;
	transform: matrix(1,0,0,1,0,0);
}
#_57 {
	fill: rgba(255,246,241,1);
}
._57 {
	overflow: visible;
	position: absolute;
	width: 23.41px;
	height: 19.21px;
	left: 8.274px;
	top: 50.621px;
	transform: matrix(1,0,0,1,0,0);
}
#_58 {
	fill: rgba(255,246,241,1);
}
._58 {
	overflow: visible;
	position: absolute;
	width: 7.1px;
	height: 3.114px;
	left: 53.002px;
	top: 36.174px;
	transform: matrix(1,0,0,1,0,0);
}
#_59 {
	fill: rgba(255,246,241,1);
}
._59 {
	overflow: visible;
	position: absolute;
	width: 2.261px;
	height: 2.843px;
	left: 50.982px;
	top: 28.488px;
	transform: matrix(1,0,0,1,0,0);
}
#_60 {
	fill: rgba(255,246,241,1);
}
._60 {
	overflow: visible;
	position: absolute;
	width: 2.261px;
	height: 2.847px;
	left: 59.84px;
	top: 28.486px;
	transform: matrix(1,0,0,1,0,0);
}
#ArrowDown_c {
	position: absolute;
	width: 20.877px;
	height: 12.28px;
	left: 63.932px;
	top: 210.37px;
	overflow: visible;
}
#_96_c {
	fill: rgba(225,27,34,1);
}
._96_c {
	display: none;
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: -9.596px;
	top: -15.914px;
	transform: matrix(1,0,0,1,0,0);
}
#_97_c {
	fill: rgba(225,27,34,1);
}
._97_c {
	overflow: visible;
	position: absolute;
	width: 20.877px;
	height: 12.28px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Menu {
	position: absolute;
	width: 1344px;
	height: 100px;
	left: 279px;
	top: 21px;
	overflow: visible;
}
#Contacts {
	position: absolute;
	width: 936px;
	height: 26.073px;
	left: 408px;
	top: 23.927px;
	overflow: visible;
}
#ContactsBG {
	opacity: 0.9;
	fill: rgba(225,27,34,1);
}
.ContactsBG {
	position: absolute;
	overflow: visible;
	width: 935.807px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#Language {
	position: absolute;
	width: 99.374px;
	height: 25.609px;
	left: 836.626px;
	top: 0.464px;
	overflow: visible;
}
#_2__13 {
	position: absolute;
	width: 99.374px;
	height: 25.609px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_9_dc {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._9_dc {
	position: absolute;
	overflow: visible;
	width: 103.374px;
	height: 29.609px;
	left: 0px;
	top: 0px;
}
#World {
	fill: rgba(255,246,241,1);
}
.World {
	overflow: visible;
	position: absolute;
	width: 18.157px;
	height: 16.444px;
	left: 4.911px;
	top: 4.583px;
	transform: matrix(1,0,0,1,0,0);
}
#English {
	left: 23.935px;
	top: 3.615px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#_1_df {
	fill: rgba(255,246,241,1);
}
._1_df {
	overflow: visible;
	position: absolute;
	width: 11.475px;
	height: 7.621px;
	transform: translate(0px, 0px) matrix(1,0,0,1,83.6817,11.3376) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Contacts_dg {
	position: absolute;
	width: 792.805px;
	height: 19px;
	left: 11px;
	top: 2.664px;
	overflow: visible;
}
#_3_dh {
	position: absolute;
	width: 155.116px;
	height: 19px;
	left: 637.689px;
	top: 0px;
	overflow: visible;
}
#Home_Health_Care {
	left: 18.116px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#marker_1 {
	fill: rgba(255,246,241,1);
}
.marker_1 {
	overflow: visible;
	position: absolute;
	width: 13.325px;
	height: 15px;
	left: 0px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Fax_818_301-2051 {
	left: 456.796px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Phone_818_396-5678 {
	left: 254.56px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#changingliveshhgmailcom {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Logo {
	position: absolute;
	width: 353px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Logo_do {
	position: absolute;
	width: 353px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Changing_Lives__Home_Health_Ca {
	left: 114px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 240px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,246,241,1);
}
#_1_dq {
	opacity: 0.9;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_11 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_61 {
	fill: rgba(225,27,34,1);
}
._61 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_62 {
	fill: rgba(255,255,255,1);
}
._62 {
	overflow: visible;
	position: absolute;
	width: 38.375px;
	height: 55.094px;
	left: 27.002px;
	top: 21.575px;
	transform: matrix(1,0,0,1,0,0);
}
#_63 {
	fill: rgba(255,255,255,1);
}
._63 {
	overflow: visible;
	position: absolute;
	width: 10.109px;
	height: 10.066px;
	left: 19.574px;
	top: 18.05px;
	transform: matrix(1,0,0,1,0,0);
}
#_64 {
	fill: rgba(255,255,255,1);
}
._64 {
	overflow: visible;
	position: absolute;
	width: 9.223px;
	height: 8.055px;
	left: 29.333px;
	top: 12.463px;
	transform: matrix(1,0,0,1,0,0);
}
#_65 {
	fill: rgba(255,255,255,1);
}
._65 {
	overflow: visible;
	position: absolute;
	width: 7.231px;
	height: 7.863px;
	left: 45.121px;
	top: 8.35px;
	transform: matrix(1,0,0,1,0,0);
}
#_66 {
	fill: rgba(255,255,255,1);
}
._66 {
	overflow: visible;
	position: absolute;
	width: 7.795px;
	height: 8.511px;
	left: 55.643px;
	top: 9.41px;
	transform: matrix(1,0,0,1,0,0);
}
#_67 {
	fill: rgba(255,255,255,1);
}
._67 {
	overflow: visible;
	position: absolute;
	width: 8.049px;
	height: 6.772px;
	left: 83.063px;
	top: 48.599px;
	transform: matrix(1,0,0,1,0,0);
}
#_68 {
	fill: rgba(255,255,255,1);
}
._68 {
	overflow: visible;
	position: absolute;
	width: 8.662px;
	height: 7.211px;
	left: 10.222px;
	top: 38.194px;
	transform: matrix(1,0,0,1,0,0);
}
#_69 {
	fill: rgba(255,255,255,1);
}
._69 {
	overflow: visible;
	position: absolute;
	width: 8.562px;
	height: 6.476px;
	left: 82.254px;
	top: 39.387px;
	transform: matrix(1,0,0,1,0,0);
}
#_70 {
	fill: rgba(255,255,255,1);
}
._70 {
	overflow: visible;
	position: absolute;
	width: 8.618px;
	height: 7.324px;
	left: 14.785px;
	top: 29.86px;
	transform: matrix(1,0,0,1,0,0);
}
#_71 {
	fill: rgba(255,255,255,1);
}
._71 {
	overflow: visible;
	position: absolute;
	width: 8.669px;
	height: 7.364px;
	left: 79.983px;
	top: 27.24px;
	transform: matrix(1,0,0,1,0,0);
}
#_72 {
	fill: rgba(255,255,255,1);
}
._72 {
	overflow: visible;
	position: absolute;
	width: 7.859px;
	height: 6.578px;
	left: 9.889px;
	top: 48.699px;
	transform: matrix(1,0,0,1,0,0);
}
#_73 {
	fill: rgba(255,255,255,1);
}
._73 {
	overflow: visible;
	position: absolute;
	width: 6.118px;
	height: 9.184px;
	left: 69.335px;
	top: 16.048px;
	transform: matrix(1,0,0,1,0,0);
}
#_74 {
	fill: rgba(255,255,255,1);
}
._74 {
	overflow: visible;
	position: absolute;
	width: 6.93px;
	height: 6.196px;
	left: 75.372px;
	top: 22.331px;
	transform: matrix(1,0,0,1,0,0);
}
#_75 {
	fill: rgba(255,255,255,1);
}
._75 {
	overflow: visible;
	position: absolute;
	width: 3.434px;
	height: 7.77px;
	left: 39.272px;
	top: 9.419px;
	transform: matrix(1,0,0,1,0,0);
}
#_76 {
	fill: rgba(255,255,255,1);
}
._76 {
	overflow: visible;
	position: absolute;
	width: 6.077px;
	height: 5.977px;
	left: 33.981px;
	top: 81.917px;
	transform: matrix(1,0,0,1,0,0);
}
#_77 {
	fill: rgba(255,255,255,1);
}
._77 {
	overflow: visible;
	position: absolute;
	width: 4.757px;
	height: 4.49px;
	left: 28.805px;
	top: 79.937px;
	transform: matrix(1,0,0,1,0,0);
}
#_78 {
	fill: rgba(255,255,255,1);
}
._78 {
	overflow: visible;
	position: absolute;
	width: 5.531px;
	height: 5.793px;
	left: 71.373px;
	top: 75.958px;
	transform: matrix(1,0,0,1,0,0);
}
#_79 {
	fill: rgba(255,255,255,1);
}
._79 {
	overflow: visible;
	position: absolute;
	width: 5.69px;
	height: 5.704px;
	left: 23.754px;
	top: 75.95px;
	transform: matrix(1,0,0,1,0,0);
}
#_80 {
	fill: rgba(255,255,255,1);
}
._80 {
	overflow: visible;
	position: absolute;
	width: 3.892px;
	height: 5.135px;
	left: 40.417px;
	top: 83.872px;
	transform: matrix(1,0,0,1,0,0);
}
#_81 {
	fill: rgba(255,255,255,1);
}
._81 {
	overflow: visible;
	position: absolute;
	width: 3.486px;
	height: 4.757px;
	left: 53.244px;
	top: 84.663px;
	transform: matrix(1,0,0,1,0,0);
}
#_82 {
	fill: rgba(255,255,255,1);
}
._82 {
	overflow: visible;
	position: absolute;
	width: 3.223px;
	height: 4.672px;
	left: 48.529px;
	top: 84.955px;
	transform: matrix(1,0,0,1,0,0);
}
#_83 {
	fill: rgba(255,255,255,1);
}
._83 {
	overflow: visible;
	position: absolute;
	width: 4.397px;
	height: 4.78px;
	left: 58.978px;
	top: 83.783px;
	transform: matrix(1,0,0,1,0,0);
}
#_84 {
	fill: rgba(255,255,255,1);
}
._84 {
	overflow: visible;
	position: absolute;
	width: 4.154px;
	height: 5.12px;
	left: 67.363px;
	top: 78.871px;
	transform: matrix(1,0,0,1,0,0);
}
#_85 {
	fill: rgba(255,255,255,1);
}
._85 {
	overflow: visible;
	position: absolute;
	width: 4.977px;
	height: 4.488px;
	left: 63.361px;
	top: 82.238px;
	transform: matrix(1,0,0,1,0,0);
}
#_86 {
	fill: rgba(255,255,255,1);
}
._86 {
	overflow: visible;
	position: absolute;
	width: 0.281px;
	height: 0.281px;
	left: 44.892px;
	top: 8.624px;
	transform: matrix(1,0,0,1,0,0);
}
#_87 {
	fill: rgba(255,255,255,1);
}
._87 {
	overflow: visible;
	position: absolute;
	width: 0.281px;
	height: 0.281px;
	left: 39.852px;
	top: 83.61px;
	transform: matrix(1,0,0,1,0,0);
}
#_88 {
	fill: rgba(225,27,34,1);
}
._88 {
	overflow: visible;
	position: absolute;
	width: 33.854px;
	height: 50.619px;
	left: 29.3px;
	top: 23.835px;
	transform: matrix(1,0,0,1,0,0);
}
#_89 {
	fill: rgba(225,27,34,1);
}
._89 {
	overflow: visible;
	position: absolute;
	width: 1.702px;
	height: 1.379px;
	left: 17.942px;
	top: 31.887px;
	transform: matrix(1,0,0,1,0,0);
}
#_90 {
	fill: rgba(225,27,34,1);
}
._90 {
	overflow: visible;
	position: absolute;
	width: 3.061px;
	height: 3.009px;
	left: 29.617px;
	top: 80.523px;
	transform: matrix(1,0,0,1,0,0);
}
#_91 {
	fill: rgba(225,27,34,1);
}
._91 {
	overflow: visible;
	position: absolute;
	width: 0.786px;
	height: 1.253px;
	left: 60.359px;
	top: 85.831px;
	transform: matrix(1,0,0,1,0,0);
}
#_92 {
	fill: rgba(255,255,255,1);
}
._92 {
	overflow: visible;
	position: absolute;
	width: 17.182px;
	height: 14.945px;
	left: 43.181px;
	top: 48.983px;
	transform: matrix(1,0,0,1,0,0);
}
#_93 {
	fill: rgba(225,27,34,1);
}
._93 {
	overflow: visible;
	position: absolute;
	width: 12.477px;
	height: 9.936px;
	left: 45.405px;
	top: 51.272px;
	transform: matrix(1,0,0,1,0,0);
}
#SkilledNursing_ep {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 953px;
	overflow: visible;
}
#About_Us {
	fill: rgba(255,246,241,1);
}
.About_Us {
	position: absolute;
	overflow: visible;
	width: 953px;
	height: 600px;
	left: 0px;
	top: 0px;
}
#Image {
	position: absolute;
	width: 950px;
	height: 600px;
	left: 953px;
	top: 0px;
	overflow: visible;
}
#SKILLED_NURSING {
	left: 297.089px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#_Wound_care__Medication_manage {
	left: 296.776px;
	top: 177.5px;
	position: absolute;
	overflow: hidden;
	width: 339px;
	height: 290px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Button_eu {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 296.776px;
	top: 504px;
	overflow: visible;
}
#_1__5 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_ew {
	fill: rgba(225,27,34,1);
}
._7_ew {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#Contact_ex {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#PhisicalTherapy_ey {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 1553px;
	overflow: visible;
}
#Background {
	fill: rgba(225,27,34,1);
}
.Background {
	overflow: visible;
	position: absolute;
	width: 968px;
	height: 600px;
	left: 935px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID33 {
	position: absolute;
	width: 952px;
	height: 600px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#PHYSICAL_THERAPY_e {
	left: 1095.157px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#_Restoration_of_specific_funct {
	left: 1094.315px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 267px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Button_e {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 1095.301px;
	top: 480px;
	overflow: visible;
}
#_1__6 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_e {
	fill: rgba(255,246,241,1);
}
._7_e {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#Contact_e {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(225,27,34,1);
}
#SpeechTherapy_e {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 2153px;
	overflow: visible;
}
#About_Us_e {
	fill: rgba(255,246,241,1);
}
.About_Us_e {
	position: absolute;
	overflow: visible;
	width: 953px;
	height: 600px;
	left: 0px;
	top: 0px;
}
#Image_e {
	position: absolute;
	width: 952px;
	height: 600px;
	left: 951px;
	top: 0px;
	overflow: visible;
}
#SPEECH_THERAPY_fa {
	left: 298.084px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#_Assistance_in_regaining__spee {
	left: 297.327px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 243px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Button_fc {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 298.088px;
	top: 456px;
	overflow: visible;
}
#_1__7 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_fe {
	fill: rgba(225,27,34,1);
}
._7_fe {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#Contact_ff {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#OccupationalTherapy_fg {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 2753px;
	overflow: visible;
}
#Background_fh {
	fill: rgba(225,27,34,1);
}
.Background_fh {
	overflow: visible;
	position: absolute;
	width: 968px;
	height: 600px;
	left: 935px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5 {
	position: absolute;
	width: 952px;
	height: 600px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#OCCUPATIONAL_THERAPY_fj {
	left: 1094.802px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#_Therapeutic_exercises_for____ {
	left: 1091.075px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 155px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Button_fl {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 1095.301px;
	top: 368px;
	overflow: visible;
}
#_1__8 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_fn {
	fill: rgba(255,246,241,1);
}
._7_fn {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#Contact_fo {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(225,27,34,1);
}
#MedicalSocialWorker_fp {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 3353px;
	overflow: visible;
}
#About_Us_fq {
	fill: rgba(255,246,241,1);
}
.About_Us_fq {
	overflow: visible;
	position: absolute;
	width: 953px;
	height: 600px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_fr {
	position: absolute;
	width: 952px;
	height: 600px;
	left: 951px;
	top: 0px;
	overflow: visible;
}
#MEDICAL_SOCIAL_WORKER_fs {
	left: 297.93px;
	top: 111.638px;
	position: absolute;
	overflow: visible;
	width: 252px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#_Assisting_in_claiming_financi {
	left: 297.327px;
	top: 172px;
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 176px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Button_fu {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 298.088px;
	top: 384.362px;
	overflow: visible;
}
#_1__9 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_fw {
	fill: rgba(225,27,34,1);
}
._7_fw {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#Contact_fx {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#HomeHealthAide_fy {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 3953px;
	overflow: visible;
}
#Background_fz {
	fill: rgba(225,27,34,1);
}
.Background_fz {
	position: absolute;
	overflow: visible;
	width: 968px;
	height: 600px;
	left: 935px;
	top: 0px;
}
#ID7 {
	position: absolute;
	width: 952px;
	height: 600px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#HOME_HEALTH_AIDE {
	left: 1095.113px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#_Personal_Care {
	left: 1091.075px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 31px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Button_f {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 1095.301px;
	top: 246px;
	overflow: visible;
}
#_1__10 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_f {
	fill: rgba(255,246,241,1);
}
._7_f {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.995px;
	left: 0px;
	top: 0px;
}
#Contact_f {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(225,27,34,1);
}
#Location {
	opacity: 0.92;
	position: absolute;
	width: 422px;
	height: 128.608px;
	left: 732.591px;
	top: 4645.392px;
	overflow: visible;
}
#Nearby_health_services_provide {
	left: 0px;
	top: 40.639px;
	position: absolute;
	overflow: visible;
	width: 423px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Find_a_location {
	left: 142px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#Button_ga {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 135px;
	top: 85.608px;
	overflow: visible;
}
#_1__4 {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_gc {
	fill: rgba(225,27,34,1);
}
._7_gc {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#View_locations {
	left: 24px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Career {
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 4853px;
	overflow: visible;
}
#_22_gf {
	fill: rgba(255,246,241,1);
}
._22_gf {
	overflow: visible;
	position: absolute;
	width: 1903px;
	height: 600px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#We_have_openings_for__-Registe {
	left: 298.325px;
	top: 181.072px;
	position: absolute;
	overflow: visible;
	width: 524px;
	height: 221px;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Career_Opportunities {
	left: 299.019px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,0,0,1);
}
#Location_gi {
	position: absolute;
	width: 520px;
	height: 595px;
	left: 1068.862px;
	top: 90.069px;
	display: none;
	overflow: visible;
}
#_14_gj {
	fill: rgba(255,255,255,1);
}
._14_gj {
	position: absolute;
	overflow: visible;
	width: 520px;
	height: 595px;
	left: 0px;
	top: 0px;
}
#_16_gk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._16_gk {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 74px;
}
#_15_gl {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._15_gl {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 161px;
}
#_17 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._17 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 250px;
}
#_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._18 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 340px;
}
#_19 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._19 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 47px;
	top: 429px;
}
#Last_Name {
	left: 47px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Email {
	left: 47px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Birthdate {
	left: 47px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Zip_Code {
	left: 47px;
	top: 400px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Last_Name_gt {
	left: 63px;
	top: 171px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Email_gu {
	left: 63px;
	top: 259px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Birthdate_gv {
	left: 63px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Zip_Code_gw {
	left: 63px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#First_Name {
	left: 63px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#First_Name_gy {
	left: 47px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Button_gz {
	position: absolute;
	width: 424px;
	height: 44px;
	left: 47px;
	top: 504px;
	overflow: visible;
}
#_10_g {
	fill: rgba(255,0,0,1);
}
._10_g {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#View_locations_g {
	left: 154px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#career {
	position: absolute;
	width: 952px;
	height: 600px;
	left: 951px;
	top: 0px;
	overflow: visible;
}
#Button_g {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 299.079px;
	top: 439.145px;
	overflow: visible;
}
#_1__11 {
	position: absolute;
	width: 162.585px;
	height: 45.994px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_g {
	fill: rgba(225,27,34,1);
}
._7_g {
	position: absolute;
	overflow: visible;
	width: 162.585px;
	height: 45.995px;
	left: 0px;
	top: 0px;
}
#Contact_g {
	left: 38.507px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Footer {
	position: absolute;
	width: 1903px;
	height: 594px;
	left: 0px;
	top: 5452px;
	overflow: visible;
}
#Background_g {
	fill: rgba(225,27,34,1);
}
.Background_g {
	position: absolute;
	overflow: visible;
	width: 1903px;
	height: 594px;
	left: 0px;
	top: 0px;
}
#Compliance_Information________ {
	left: 1011px;
	top: 515px;
	position: absolute;
	overflow: visible;
	width: 616px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#_Copyright_2023_All_Rights_Res {
	left: 279px;
	top: 515px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID805_E_Wilson_Ave_Unit_B_Glen {
	left: 299.06px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -12px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#A_Medicare_Certified__Home_Hea {
	left: 299.015px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#chaps-1024x704 {
	position: absolute;
	width: 260px;
	height: 174px;
	left: 821.5px;
	top: 190px;
	overflow: visible;
}
#CHAP_Accredited {
	left: 871.495px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Opening_Hours {
	left: 1282.611px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#_1_hg {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_hg {
	overflow: visible;
	position: absolute;
	width: 1347px;
	height: 1px;
	left: 278.5px;
	top: 465.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Monday__Friday_1000AM_to_500PM {
	left: 1282.23px;
	top: 200px;
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 64px;
	line-height: 40px;
	margin-top: -12px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#On-Call_Nurse_Available_by_Tel {
	left: 1281.633px;
	top: 326px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -12px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#_2_hj {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2_hj {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 1px;
	left: 1281.343px;
	top: 294px;
	transform: matrix(1,0,0,1,0,0);
}
#_21_hk {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._21_hk {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 1586px;
	top: 395px;
	transform: matrix(1,0,0,1,0,0);
}
#Social_network {
	position: absolute;
	width: 208px;
	height: 43px;
	left: 299.001px;
	top: 389px;
	overflow: visible;
}
#_9_hm {
	fill: rgba(255,246,241,1);
}
._9_hm {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 110px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_10_hn {
	fill: rgba(255,246,241,1);
}
._10_hn {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 55px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_11_ho {
	fill: rgba(255,246,241,1);
}
._11_ho {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_12_hp {
	fill: rgba(255,246,241,1);
}
._12_hp {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 165px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#in {
	left: 122px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -8px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(254,0,0,1);
}
#f {
	left: 17px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -8px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(254,0,0,1);
}
#instagram {
	position: absolute;
	width: 22.965px;
	height: 22.968px;
	left: 175.018px;
	top: 10.016px;
	overflow: visible;
}
#_13_ht {
	fill: rgba(255,0,0,1);
}
._13_ht {
	overflow: visible;
	position: absolute;
	width: 22.965px;
	height: 22.968px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_14_hu {
	fill: rgba(255,0,0,1);
}
._14_hu {
	overflow: visible;
	position: absolute;
	width: 11.479px;
	height: 11.479px;
	left: 5.745px;
	top: 5.741px;
	transform: matrix(1,0,0,1,0,0);
}
#_15_hv {
	fill: rgba(255,0,0,1);
}
._15_hv {
	overflow: visible;
	position: absolute;
	width: 2.296px;
	height: 2.296px;
	left: 16.078px;
	top: 4.592px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter {
	fill: rgba(255,0,0,1);
}
.twitter {
	overflow: visible;
	position: absolute;
	width: 18.568px;
	height: 18.988px;
	left: 67.216px;
	top: 12.506px;
	transform: matrix(1,0,0,1,0,0);
}