.mediaViewInfo {
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__3 {
	position: absolute;
	width: 1920px;
	height: 2840px;
	background-color: rgba(255,246,241,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Block_5_j {
	position: absolute;
	width: 1920px;
	height: 600px;
	left: 0px;
	top: 750px;
	overflow: visible;
}
#About_Us_j {
	fill: rgba(255,0,0,1);
}
.About_Us_j {
	position: absolute;
	overflow: visible;
	width: 953px;
	height: 600px;
	left: 0px;
	top: 0px;
}
#Image_j {
	position: absolute;
	width: 967px;
	height: 600px;
	left: 953px;
	top: 0px;
	overflow: visible;
}
#About_Us_ka {
	left: 301px;
	top: 158.961px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Changing_Lives_Home_Health_j {
	left: 301px;
	top: 205.05px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#Changing_Lives_Home_Health_is__j {
	left: 301px;
	top: 305.706px;
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 120px;
	line-height: 30px;
	margin-top: -6px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Block_3_j {
	position: absolute;
	width: 1920px;
	height: 600px;
	left: 0px;
	top: 150px;
	overflow: visible;
}
#Background_image_j {
	position: absolute;
	width: 1920px;
	height: 600px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Button_j {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 301px;
	top: 337px;
	overflow: visible;
}
#_1__1_j {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_ka {
	fill: rgba(255,0,0,1);
}
._7_ka {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#Contact_kb {
	left: 35px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Schedule_a_primary_care_visit_kc {
	left: 302px;
	top: 273px;
	position: absolute;
	overflow: visible;
	width: 303px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(74,74,74,1);
	letter-spacing: 0.05px;
}
#More_healthy_years_kd {
	left: 301px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 579px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,0,0,1);
	letter-spacing: 0.1px;
}
#Block_1_ke {
	position: absolute;
	width: 1920px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Background_kf {
	fill: rgba(255,0,0,1);
}
.Background_kf {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Menu_kg {
	position: absolute;
	width: 843.962px;
	height: 32px;
	left: 798.038px;
	top: 4px;
	overflow: visible;
}
#Search_kh {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 568.962px;
	top: -3.5px;
	display: none;
	overflow: visible;
}
#_4_ki {
	fill: rgba(149,0,0,1);
}
._4_ki {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#ID01_align_center_kj {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 12.038px;
	top: 12px;
	overflow: visible;
}
#_7_kk {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._7_kk {
	overflow: visible;
	position: absolute;
	width: 16.416px;
	height: 16.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Language_kl {
	position: absolute;
	width: 84px;
	height: 32px;
	left: 759.962px;
	top: 0px;
	overflow: visible;
}
#_2__13_km {
	position: absolute;
	width: 84px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_9_kn {
	fill: rgba(255,255,255,1);
}
._9_kn {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#World_ko {
	fill: rgba(255,0,0,1);
}
.World_ko {
	overflow: visible;
	position: absolute;
	width: 25.062px;
	height: 25.056px;
	left: 5.855px;
	top: 3.472px;
	transform: matrix(1,0,0,1,0,0);
}
#EN_kp {
	left: 36.855px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,0,0,1);
}
#_1_kq {
	fill: rgba(255,0,0,1);
}
._1_kq {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 11px;
	transform: translate(-1761.145px, 0px) matrix(1,0,0,1,1825,13) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#_3_kr {
	position: absolute;
	width: 147.962px;
	height: 21px;
	left: 590px;
	top: 5.5px;
	overflow: visible;
}
#Home_Health_Care_ks {
	left: 17.962px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#marker_1_kt {
	fill: rgba(255,255,255,1);
}
.marker_1_kt {
	overflow: visible;
	position: absolute;
	width: 12.476px;
	height: 15px;
	left: 0px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#_ku {
	left: 564px;
	top: 7.5px;
	position: absolute;
	overflow: visible;
	width: 5px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Fax_818_301-2051_kv {
	left: 405px;
	top: 5.5px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Phone_818_396-5678_kw {
	left: 224px;
	top: 5.5px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#changingliveshhgmailcom_kx {
	left: 0px;
	top: 5.5px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Block_10_ky {
	position: absolute;
	width: 1920px;
	height: 590px;
	left: 0px;
	top: 2250px;
	overflow: visible;
}
#Background_kz {
	fill: rgba(255,0,0,1);
}
.Background_kz {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Compliance_Information_________k {
	left: 854px;
	top: 500px;
	position: absolute;
	overflow: visible;
	width: 768px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#_Copyright_2023_All_Rights_Res_k {
	left: 302px;
	top: 500px;
	position: absolute;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ID805_E_Wilson_Ave_Unit_B_Glen_k {
	left: 458px;
	top: 236px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -11px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#A_Medicare_Certified__Home_Hea_k {
	left: 302px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 321px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#chaps-1024x704_k {
	position: absolute;
	width: 260px;
	height: 174px;
	left: 830px;
	top: 172px;
	overflow: visible;
}
#CHAP_Accredited_k {
	left: 830px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#Opening_Hours_k {
	left: 1295px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#Modern-Minimal-Hospital-Center_k {
	position: absolute;
	width: 110px;
	height: 108.347px;
	left: 302px;
	top: 236.394px;
	overflow: visible;
}
#_1_k {
	fill: rgba(255,255,255,1);
}
._1_k {
	overflow: visible;
	position: absolute;
	width: 110px;
	height: 108.347px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_2_k {
	fill: rgba(255,255,255,1);
}
._2_k {
	overflow: visible;
	position: absolute;
	width: 36.811px;
	height: 54.64px;
	left: 32.398px;
	top: 25.947px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_la {
	fill: rgba(255,255,255,1);
}
._3_la {
	overflow: visible;
	position: absolute;
	width: 1.236px;
	height: 1.165px;
	left: 20.008px;
	top: 34.482px;
	transform: matrix(1,0,0,1,0,0);
}
#_4_lb {
	fill: rgba(255,255,255,1);
}
._4_lb {
	overflow: visible;
	position: absolute;
	width: 3.07px;
	height: 3.039px;
	left: 32.735px;
	top: 87.594px;
	transform: matrix(1,0,0,1,0,0);
}
#_5_lc {
	fill: rgba(255,255,255,1);
}
._5_lc {
	overflow: visible;
	position: absolute;
	width: 0.538px;
	height: 0.586px;
	left: 66.461px;
	top: 93.466px;
	transform: matrix(1,0,0,1,0,0);
}
#_6_ld {
	fill: rgba(255,255,255,1);
}
._6_ld {
	overflow: visible;
	position: absolute;
	width: 13.495px;
	height: 10.644px;
	left: 50.147px;
	top: 55.774px;
	transform: matrix(1,0,0,1,0,0);
}
#_1_le {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._1_le {
	overflow: visible;
	position: absolute;
	width: 1364px;
	height: 1px;
	left: 278.5px;
	top: 457.521px;
	transform: matrix(1,0,0,1,0,0);
}
#Monday__Friday_1000AM_to_500PM_lf {
	left: 1295px;
	top: 173px;
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 64px;
	line-height: 40px;
	margin-top: -11px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#On-Call_Nurse_Available_by_Tel_lg {
	left: 1295px;
	top: 295px;
	position: absolute;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -11px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#_2_lh {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._2_lh {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 1px;
	left: 1295px;
	top: 266px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_li {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._3_li {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 1px;
	left: 1295px;
	top: 388px;
	transform: matrix(1,0,0,1,0,0);
}
#Social_network_lj {
	position: absolute;
	width: 208px;
	height: 43px;
	left: 302px;
	top: 381.719px;
	overflow: visible;
}
#_9_lk {
	fill: rgba(255,246,241,1);
}
._9_lk {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 110px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_10_ll {
	fill: rgba(255,246,241,1);
}
._10_ll {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 55px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_11_lm {
	fill: rgba(255,246,241,1);
}
._11_lm {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_12_ln {
	fill: rgba(255,246,241,1);
}
._12_ln {
	overflow: visible;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 165px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#in_lo {
	left: 122px;
	top: 3.281px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -8px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(254,0,0,1);
}
#f_lp {
	left: 17px;
	top: 6.281px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -8px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(254,0,0,1);
}
#instagram_lq {
	position: absolute;
	width: 22.965px;
	height: 22.968px;
	left: 175.018px;
	top: 10.016px;
	overflow: visible;
}
#_13_lr {
	fill: rgba(255,0,0,1);
}
._13_lr {
	overflow: visible;
	position: absolute;
	width: 22.965px;
	height: 22.968px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_14_ls {
	fill: rgba(255,0,0,1);
}
._14_ls {
	overflow: visible;
	position: absolute;
	width: 11.479px;
	height: 11.479px;
	left: 5.745px;
	top: 5.741px;
	transform: matrix(1,0,0,1,0,0);
}
#_15_lt {
	fill: rgba(255,0,0,1);
}
._15_lt {
	overflow: visible;
	position: absolute;
	width: 2.296px;
	height: 2.297px;
	left: 16.079px;
	top: 4.592px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter_lu {
	fill: rgba(255,0,0,1);
}
.twitter_lu {
	overflow: visible;
	position: absolute;
	width: 18.568px;
	height: 18.988px;
	left: 67.216px;
	top: 12.506px;
	transform: matrix(1,0,0,1,0,0);
}
#Block_9_lv {
	position: absolute;
	width: 1920px;
	height: 600px;
	left: 0px;
	top: 1650px;
	overflow: visible;
}
#_13_lw {
	fill: rgba(255,255,255,1);
}
._13_lw {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 600px;
	left: 0px;
	top: 0px;
}
#We_have_openings_for__-Registe_lx {
	left: 302px;
	top: 143.036px;
	position: absolute;
	overflow: visible;
	width: 524px;
	height: 221px;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(74,74,74,1);
}
#Career_Opportunities_ly {
	left: 302px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,0,0,1);
}
#Covid_19_Resources__lz {
	left: 302px;
	top: 427.048px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,0,0,1);
}
#httpswwwcdcgovcoronavirus2019-_l {
	left: 306px;
	top: 497px;
	position: absolute;
	overflow: visible;
	width: 553px;
	height: 38px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(74,74,74,1);
}
#Location_l {
	position: absolute;
	width: 520px;
	height: 595px;
	left: 1082px;
	top: 90.069px;
	display: none;
	overflow: visible;
}
#_14_l {
	fill: rgba(255,255,255,1);
}
._14_l {
	position: absolute;
	overflow: visible;
	width: 520px;
	height: 595px;
	left: 0px;
	top: 0px;
}
#_16_l {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._16_l {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 74px;
}
#_15_l {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._15_l {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 161px;
}
#_17_l {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._17_l {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 250px;
}
#_18_l {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._18_l {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 48px;
	top: 340px;
}
#_19_l {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._19_l {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 43px;
	left: 47px;
	top: 429px;
}
#Last_Name_l {
	left: 47px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Email_l {
	left: 47px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Birthdate_ma {
	left: 47px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Zip_Code_mb {
	left: 47px;
	top: 400px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Last_Name_mc {
	left: 63px;
	top: 171px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Email_md {
	left: 63px;
	top: 259px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Birthdate_me {
	left: 63px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Zip_Code_mf {
	left: 63px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#First_Name_mg {
	left: 63px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#First_Name_mh {
	left: 47px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#Button_mi {
	position: absolute;
	width: 424px;
	height: 44px;
	left: 47px;
	top: 504px;
	overflow: visible;
}
#_10_mj {
	fill: rgba(255,0,0,1);
}
._10_mj {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#View_locations_mk {
	left: 154px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#career_ml {
	position: absolute;
	width: 967px;
	height: 600px;
	left: 953px;
	top: 0px;
	overflow: visible;
}
#Block_2_mm {
	position: absolute;
	width: 1920px;
	height: 110px;
	left: 0px;
	top: 40px;
	overflow: visible;
}
#Background_mn {
	fill: rgba(255,255,255,1);
}
.Background_mn {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 110px;
	left: 0px;
	top: 0px;
}
#Logo_mo {
	position: absolute;
	width: 357px;
	height: 88px;
	left: 300px;
	top: 11px;
	overflow: visible;
}
#Modern-Minimal-Hospital-Center_mp {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_1_mq {
	fill: rgba(255,0,0,1);
}
._1_mq {
	overflow: visible;
	position: absolute;
	width: 88px;
	height: 88px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_2_mr {
	fill: rgba(255,0,0,1);
}
._2_mr {
	overflow: visible;
	position: absolute;
	width: 29.449px;
	height: 44.379px;
	left: 25.919px;
	top: 21.074px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_ms {
	fill: rgba(255,0,0,1);
}
._3_ms {
	overflow: visible;
	position: absolute;
	width: 0.989px;
	height: 0.946px;
	left: 16.007px;
	top: 28.007px;
	transform: matrix(1,0,0,1,0,0);
}
#_4_mt {
	fill: rgba(255,0,0,1);
}
._4_mt {
	overflow: visible;
	position: absolute;
	width: 2.457px;
	height: 2.469px;
	left: 26.188px;
	top: 71.144px;
	transform: matrix(1,0,0,1,0,0);
}
#_5_mu {
	fill: rgba(255,0,0,1);
}
._5_mu {
	overflow: visible;
	position: absolute;
	width: 0.43px;
	height: 0.476px;
	left: 53.169px;
	top: 75.914px;
	transform: matrix(1,0,0,1,0,0);
}
#_6_mv {
	fill: rgba(255,0,0,1);
}
._6_mv {
	overflow: visible;
	position: absolute;
	width: 10.796px;
	height: 8.645px;
	left: 40.118px;
	top: 45.3px;
	transform: matrix(1,0,0,1,0,0);
}
#Changing_Lives__Home_Health_Ca_mw {
	left: 116px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,0,0,1);
}
#Contacts_mx {
	position: absolute;
	width: 658.408px;
	height: 60px;
	left: 1013.592px;
	top: 23px;
	display: none;
	overflow: visible;
}
#changingliveshhgmailcom_24hrs__my {
	left: 75.408px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 271px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(74,74,74,1);
}
#Call_818_396-5678_Fax__818_301_mz {
	left: 463.408px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(74,74,74,1);
}
#viber_m {
	position: absolute;
	width: 55.499px;
	height: 57px;
	left: 395.408px;
	top: 1.5px;
	overflow: visible;
}
#_16_m {
	fill: rgba(255,0,0,1);
}
._16_m {
	overflow: visible;
	position: absolute;
	width: 27.827px;
	height: 28.905px;
	left: 27.673px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_17_m {
	fill: rgba(255,0,0,1);
}
._17_m {
	overflow: visible;
	position: absolute;
	width: 53.868px;
	height: 54.136px;
	left: 0px;
	top: 2.864px;
	transform: matrix(1,0,0,1,0,0);
}
#_18_m {
	fill: rgba(255,0,0,1);
}
._18_m {
	overflow: visible;
	position: absolute;
	width: 19.518px;
	height: 20.223px;
	left: 28.529px;
	top: 7.278px;
	transform: matrix(1,0,0,1,0,0);
}
#_19_m {
	fill: rgba(255,0,0,1);
}
._19_m {
	overflow: visible;
	position: absolute;
	width: 11.469px;
	height: 11.927px;
	left: 29.378px;
	top: 14.69px;
	transform: matrix(1,0,0,1,0,0);
}
#email_m {
	fill: rgba(254,0,0,1);
}
.email_m {
	overflow: visible;
	position: absolute;
	width: 63.408px;
	height: 44.575px;
	left: 0px;
	top: 6.213px;
	transform: matrix(1,0,0,1,0,0);
}
#SKILLED_NURSING_m {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 761px;
	top: 25px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___4.html;
	cursor: pointer;
}
#_2__24 {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_20_m {
	fill: rgba(255,0,0,1);
}
._20_m {
	overflow: visible;
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#SKILLED_NURSING_na {
	left: 27.5px;
	top: 7.5px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#PHYSICAL_THERAPY_na {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 898px;
	top: 25px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___5.html;
	cursor: pointer;
}
#_2__25 {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_20_nc {
	fill: rgba(255,0,0,1);
}
._20_nc {
	overflow: visible;
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PHYSICAL_THERAPY_nd {
	left: 24.5px;
	top: 7.5px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#SPEECH_THERAPY_ne {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 1035px;
	top: 25px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___6.html;
	cursor: pointer;
}
#_2__26 {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_20_ng {
	fill: rgba(255,0,0,1);
}
._20_ng {
	overflow: visible;
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#SPEECH_THERAPY_nh {
	left: 29.5px;
	top: 7.5px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#OCCUPATIONAL_THERAPY_ni {
	position: absolute;
	width: 160px;
	height: 60px;
	left: 1172px;
	top: 25px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___7.html;
	cursor: pointer;
}
#_2__27 {
	position: absolute;
	width: 160px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_9_nk {
	fill: rgba(255,0,0,1);
}
._9_nk {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#OCCUPATIONAL_THERAPY_nl {
	left: 21.5px;
	top: 7.5px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#MEDICAL_SOCIAL_WORKER_nm {
	position: absolute;
	width: 160px;
	height: 60px;
	left: 1345px;
	top: 25px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___8.html;
	cursor: pointer;
}
#_2__28 {
	position: absolute;
	width: 160px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_9_no {
	fill: rgba(255,0,0,1);
}
._9_no {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#MEDICAL_SOCIAL_WORKER_np {
	left: 24px;
	top: 8.5px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#SKILLED_NURSING_nq {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 1518px;
	top: 25px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Web_1920___9.html;
	cursor: pointer;
}
#_2__29 {
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_20_ns {
	fill: rgba(255,0,0,1);
}
._20_ns {
	overflow: visible;
	position: absolute;
	width: 125px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#SKILLED_NURSING_nt {
	left: 28px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Block_7_nu {
	opacity: 0.92;
	position: absolute;
	width: 1920px;
	height: 300px;
	left: 0px;
	top: 1350px;
	overflow: visible;
}
#_11_nv {
	fill: rgba(255,246,241,1);
}
._11_nv {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 300px;
	left: 0px;
	top: 0px;
}
#Nearby_health_services_provide_nw {
	left: 716px;
	top: 130.03px;
	position: absolute;
	overflow: visible;
	width: 476px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(74,74,74,1);
}
#Find_a_location_nx {
	left: 839px;
	top: 75.392px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,0,0,1);
}
#Button_ny {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 876px;
	top: 178px;
	overflow: visible;
}
#_1__5 {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7_n {
	fill: rgba(255,0,0,1);
}
._7_n {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#View_locations_n {
	left: 17px;
	top: 10.951px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}