.mediaViewInfo {
	--web-view-name: Mobile;
	--web-view-id: Mobile;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mobile;
		
	--main-font: Frutiger LT Pro;
	
	--main-color: #FF1C24;
	--main-color-light: #FFF6F1;

	--text-color: #FF1C24;
	--text-color-light: #FFF6F1;
	--text-color-dark: #4A4A4A;

	--button-color: #FF1C24;
	--button-color-hover: #E0141B;
	--button-color-active: #B61016;

	--button-color-light: #FFF6F1;
	--button-color-light-hover: #F1F1F1;
	--button-color-light-active: #FFF;

	--white-color: #FFF;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mobile {
	position: absolute;
	width: 430px;
	height: 5783px;
	background-color: rgba(74,74,74,1);
	overflow: hidden;
	--web-view-name: Mobile;
	--web-view-id: Mobile;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
#Screenshot_2 {
	display: none;
	position: absolute;
	width: 429px;
	height: 427px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
#BG {
	fill: rgba(225,27,34,1);
}
.BG {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 926px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_p {
	fill: rgba(225,27,34,1);
}
.BG_p {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 1798px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_q {
	fill: rgba(255,246,241,1);
}
.BG_q {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 1362px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_r {
	fill: rgba(225,27,34,1);
}
.BG_r {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 2670px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_s {
	fill: rgba(255,246,241,1);
}
.BG_s {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 2234px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_t {
	fill: rgba(255,246,241,1);
}
.BG_t {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 3106px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_u {
	fill: rgba(225,27,34,1);
}
.BG_u {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 3542px;
	transform: matrix(1,0,0,1,0,0);
}
#BG_v {
	fill: rgba(255,246,241,1);
}
.BG_v {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 872px;
	left: 0px;
	top: 3978px;
	transform: matrix(1,0,0,1,0,0);
}
#Banner {
	position: absolute;
	width: 829px;
	height: 434px;
	left: -108px;
	top: 56px;
	overflow: visible;
}
#_2 {
	position: absolute;
	width: 829px;
	height: 434px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BannerMessage {
	position: absolute;
	width: 316.064px;
	height: 262.031px;
	left: 164.968px;
	top: 85.985px;
	overflow: visible;
}
#BannerMessageBackground {
	fill: rgba(225,27,34,1);
}
.BannerMessageBackground {
	position: absolute;
	overflow: visible;
	width: 316.064px;
	height: 191.404px;
	left: 0px;
	top: 0px;
}
#BannerMessageButton {
	position: absolute;
	width: 228px;
	height: 45px;
	left: 44.032px;
	top: 217.031px;
	overflow: visible;
}
#BannerMessageButtonBackground {
	fill: rgba(225,27,34,1);
}
.BannerMessageButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#BannerMessageButtonText {
	left: 3px;
	top: 12.5px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#BannerMessageCaption {
	left: 6.532px;
	top: 5.8px;
	position: absolute;
	overflow: visible;
	width: 304px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#BannerMessageMainText {
	left: 6.468px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 304.129px;
	height: 133.5081329345703px;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#Menu {
	position: fixed;
	width: 430px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: 9999;
}
#_38 {
	fill: rgba(255,246,241,1);
}
._38 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Hamburger {
	position: absolute;
	width: 27px;
	height: 16px;
	left: 374.5px;
	top: 22.5px;
	overflow: visible;
}
#_15 {
	fill: transparent;
	stroke: rgba(255,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._15 {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_16 {
	fill: transparent;
	stroke: rgba(255,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._16 {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 3px;
	left: 0px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#_17 {
	fill: transparent;
	stroke: rgba(255,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._17 {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 3px;
	left: 0px;
	top: 16px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotype {
	position: absolute;
	width: 212px;
	height: 50.419px;
	left: 24px;
	top: 4.79px;
	overflow: visible;
}
#BannerLogotypeText {
	left: 58px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,0,0,1);
}
#BannerLogotypePicture {
	opacity: 0.9;
	position: absolute;
	width: 50.419px;
	height: 50.419px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BannerLogotypePictureC33 {
	fill: rgba(225,27,34,1);
}
.BannerLogotypePictureC33 {
	overflow: visible;
	position: absolute;
	width: 50.419px;
	height: 50.419px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC32 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC32 {
	overflow: visible;
	position: absolute;
	width: 19.348px;
	height: 27.778px;
	left: 13.614px;
	top: 10.878px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC31 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC31 {
	overflow: visible;
	position: absolute;
	width: 5.097px;
	height: 5.075px;
	left: 9.869px;
	top: 9.101px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC30 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC30 {
	overflow: visible;
	position: absolute;
	width: 4.65px;
	height: 4.061px;
	left: 14.79px;
	top: 6.284px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC29 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC29 {
	overflow: visible;
	position: absolute;
	width: 3.646px;
	height: 3.964px;
	left: 22.75px;
	top: 4.21px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC28 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC28 {
	overflow: visible;
	position: absolute;
	width: 3.93px;
	height: 4.291px;
	left: 28.055px;
	top: 4.744px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC27 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC27 {
	overflow: visible;
	position: absolute;
	width: 4.058px;
	height: 3.414px;
	left: 41.88px;
	top: 24.503px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC26 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC26 {
	overflow: visible;
	position: absolute;
	width: 4.367px;
	height: 3.636px;
	left: 5.154px;
	top: 19.257px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC25 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC25 {
	overflow: visible;
	position: absolute;
	width: 4.317px;
	height: 3.265px;
	left: 41.472px;
	top: 19.859px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC24 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC24 {
	overflow: visible;
	position: absolute;
	width: 4.345px;
	height: 3.693px;
	left: 7.455px;
	top: 15.055px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC23 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC23 {
	overflow: visible;
	position: absolute;
	width: 4.371px;
	height: 3.713px;
	left: 40.327px;
	top: 13.734px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC22 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC22 {
	overflow: visible;
	position: absolute;
	width: 3.963px;
	height: 3.317px;
	left: 4.986px;
	top: 24.554px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC21 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC21 {
	overflow: visible;
	position: absolute;
	width: 3.085px;
	height: 4.631px;
	left: 34.958px;
	top: 8.091px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC20 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC20 {
	overflow: visible;
	position: absolute;
	width: 3.494px;
	height: 3.124px;
	left: 38.002px;
	top: 11.259px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC19 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC19 {
	overflow: visible;
	position: absolute;
	width: 1.731px;
	height: 3.918px;
	left: 19.801px;
	top: 4.749px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC18 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC18 {
	overflow: visible;
	position: absolute;
	width: 3.064px;
	height: 3.014px;
	left: 17.133px;
	top: 41.302px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC17 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC17 {
	overflow: visible;
	position: absolute;
	width: 2.399px;
	height: 2.264px;
	left: 14.523px;
	top: 40.304px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC16 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC16 {
	overflow: visible;
	position: absolute;
	width: 2.789px;
	height: 2.921px;
	left: 35.986px;
	top: 38.297px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC15 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC15 {
	overflow: visible;
	position: absolute;
	width: 2.869px;
	height: 2.876px;
	left: 11.977px;
	top: 38.294px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC14 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC14 {
	overflow: visible;
	position: absolute;
	width: 1.962px;
	height: 2.589px;
	left: 20.378px;
	top: 42.288px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC13 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC13 {
	overflow: visible;
	position: absolute;
	width: 1.757px;
	height: 2.398px;
	left: 26.845px;
	top: 42.687px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC12 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC12 {
	overflow: visible;
	position: absolute;
	width: 1.625px;
	height: 2.356px;
	left: 24.468px;
	top: 42.834px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC11 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC11 {
	overflow: visible;
	position: absolute;
	width: 2.217px;
	height: 2.41px;
	left: 29.736px;
	top: 42.243px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC10 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC10 {
	overflow: visible;
	position: absolute;
	width: 2.094px;
	height: 2.581px;
	left: 33.964px;
	top: 39.766px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC9 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC9 {
	overflow: visible;
	position: absolute;
	width: 2.51px;
	height: 2.263px;
	left: 31.946px;
	top: 41.464px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC8 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC8 {
	overflow: visible;
	position: absolute;
	width: 0.141px;
	height: 0.142px;
	left: 22.634px;
	top: 4.348px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC7 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC7 {
	overflow: visible;
	position: absolute;
	width: 0.142px;
	height: 0.142px;
	left: 20.093px;
	top: 42.155px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC6 {
	fill: rgba(225,27,34,1);
}
.BannerLogotypePictureC6 {
	overflow: visible;
	position: absolute;
	width: 17.069px;
	height: 25.522px;
	left: 14.773px;
	top: 12.018px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC5 {
	fill: rgba(225,27,34,1);
}
.BannerLogotypePictureC5 {
	overflow: visible;
	position: absolute;
	width: 0.858px;
	height: 0.695px;
	left: 9.046px;
	top: 16.077px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC4 {
	fill: rgba(225,27,34,1);
}
.BannerLogotypePictureC4 {
	overflow: visible;
	position: absolute;
	width: 1.543px;
	height: 1.517px;
	left: 14.933px;
	top: 40.599px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC3 {
	fill: rgba(225,27,34,1);
}
.BannerLogotypePictureC3 {
	overflow: visible;
	position: absolute;
	width: 0.396px;
	height: 0.632px;
	left: 30.433px;
	top: 43.276px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC2 {
	fill: rgba(255,255,255,1);
}
.BannerLogotypePictureC2 {
	overflow: visible;
	position: absolute;
	width: 8.663px;
	height: 7.535px;
	left: 21.771px;
	top: 24.697px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLogotypePictureC1 {
	fill: rgba(225,27,34,1);
}
.BannerLogotypePictureC1 {
	overflow: visible;
	position: absolute;
	width: 6.291px;
	height: 5.01px;
	left: 22.893px;
	top: 25.851px;
	transform: matrix(1,0,0,1,0,0);
}
#Language {
	position: absolute;
	width: 101px;
	height: 28px;
	left: 252px;
	top: 16px;
	overflow: visible;
}
#BannerLanguageFrame {
	fill: transparent;
	stroke: rgba(255,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BannerLanguageFrame {
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#BannerLanguageWorldPicture {
	fill: rgba(255,0,0,1);
}
.BannerLanguageWorldPicture {
	overflow: visible;
	position: absolute;
	width: 16.833px;
	height: 16.472px;
	left: 6.964px;
	top: 5.971px;
	transform: matrix(1,0,0,1,0,0);
}
#BannerLanguageText {
	display: none;
	left: 25.545px;
	top: 6.38px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,0,0,1);
}
#BannerLanguagePictureArrowDown {
	fill: rgba(255,0,0,1);
}
.BannerLanguagePictureArrowDown {
	overflow: visible;
	position: absolute;
	width: 11.477px;
	height: 7.457px;
	transform: translate(1.605px, 1.488px) matrix(1,0,0,1,83.699,10.3558) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#BlockSN {
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 490px;
	overflow: visible;
}
#BG_ch {
	fill: rgba(255,246,241,1);
}
.BG_ch {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 436px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#SN {
	position: absolute;
	width: 228px;
	height: 400px;
	left: 101px;
	top: 18.764px;
	overflow: visible;
}
#BlockSNCaption {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#BlockSNMainText {
	left: 0px;
	top: 40.738px;
	position: absolute;
	overflow: hidden;
	width: 229px;
	height: 313.2672119140625px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#BlockSNButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 354.006px;
	overflow: visible;
}
#BlockSNButtonBackground {
	fill: rgba(225,27,34,1);
}
.BlockSNButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockSNButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#_22 {
	position: absolute;
	width: 353px;
	height: 335.401px;
	left: 38.5px;
	top: 985.097px;
	overflow: visible;
}
#BlockPTCaption {
	left: 83.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#BlockPTMainText {
	left: 0px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 234.4061279296875px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#BlockPTButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 62.5px;
	top: 289.406px;
	overflow: visible;
}
#BlockPTButtonBackground {
	fill: rgba(255,246,241,1);
}
.BlockPTButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockPTButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(225,27,34,1);
}
#_21 {
	position: absolute;
	width: 302px;
	height: 379.994px;
	left: 90.301px;
	top: 1387.503px;
	overflow: visible;
}
#BlockSTCaption {
	left: 42.199px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#BlockSTMainText {
	left: 0px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 303px;
	height: 243px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#BlockSTButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 10.699px;
	top: 334px;
	overflow: visible;
}
#BlockSTButtonBackground {
	fill: rgba(225,27,34,1);
}
.BlockSTButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockSTButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#_23 {
	position: absolute;
	width: 256.452px;
	height: 296.994px;
	left: 101px;
	top: 1867.503px;
	overflow: visible;
}
#BlockOTCaption {
	left: 8.575px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#BlockOTMainText {
	left: 4.849px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 252.604px;
	height: 155px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#BlockOTButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 251px;
	overflow: visible;
}
#BlockOTButtonBackground {
	fill: rgba(255,246,241,1);
}
.BlockOTButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockOTButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(225,27,34,1);
}
#BlockMSWCaption {
	left: 89.5px;
	top: 2280px;
	position: absolute;
	overflow: visible;
	width: 252px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(225,27,34,1);
}
#BlockMSWMainText {
	left: 84.151px;
	top: 2352px;
	position: absolute;
	overflow: visible;
	width: 262.699px;
	height: 176px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#BlockMSWButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 101px;
	top: 2565.365px;
	overflow: visible;
}
#BlockMSWButtonBackground {
	fill: rgba(225,27,34,1);
}
.BlockMSWButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockMSWButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#_24 {
	position: absolute;
	width: 228px;
	height: 175.497px;
	left: 101px;
	top: 2800px;
	overflow: visible;
}
#BlockHHACaption {
	left: 19px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#BlockHHAMainText {
	left: 53px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 31px;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#BlockHHAButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 129.503px;
	overflow: visible;
}
#BlockHHAButtonBackground {
	fill: rgba(255,246,241,1);
}
.BlockHHAButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockHHAButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(225,27,34,1);
}
#_25 {
	position: absolute;
	width: 228px;
	height: 363px;
	left: 101px;
	top: 3141px;
	overflow: visible;
}
#BlockCareerMainText {
	left: 15.151px;
	top: 63.003px;
	position: absolute;
	overflow: visible;
	width: 198.699px;
	height: 221px;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(74,74,74,1);
}
#BlockCareerCaption {
	left: 15px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,0,0,1);
}
#BlockCareerButton {
	position: absolute;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 317.005px;
	overflow: visible;
}
#BlockCareerButtonBackground {
	fill: rgba(225,27,34,1);
}
.BlockCareerButtonBackground {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 45.994px;
	left: 0px;
	top: 0px;
}
#BlockCareerButtonText {
	left: 70.974px;
	top: 13.905px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: center;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#BG_dn {
	fill: rgba(225,27,34,1);
}
.BG_dn {
	overflow: visible;
	position: absolute;
	width: 430px;
	height: 934.424px;
	left: 0px;
	top: 4850px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockLocationMainText {
	left: 90px;
	top: 3713.471px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#BlockLocationCaption {
	left: 150px;
	top: 3675.167px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,246,241,1);
}
#BlockLocationButton {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 139px;
	top: 3801.833px;
	overflow: visible;
}
#BlockLocationButtonBackground {
	position: absolute;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_7 {
	fill: rgba(255,246,241,1);
}
._7 {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#BlockLocationButtonText {
	left: 24px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#BlockContactUsFormEmailEditFie {
	fill: transparent;
	stroke: rgba(225,27,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockContactUsFormEmailEditFie {
	overflow: visible;
	position: absolute;
	width: 399px;
	height: 1px;
	left: 15.75px;
	top: 4303.5px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockContactUsFormEmailText {
	left: 18.25px;
	top: 4360px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#BlockContactUsFormFirstNameEdi {
	fill: transparent;
	stroke: rgba(225,27,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockContactUsFormFirstNameEdi {
	overflow: visible;
	position: absolute;
	width: 399px;
	height: 1px;
	left: 15.75px;
	top: 4204.5px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockContactUsFormFirstNameTex {
	left: 15.25px;
	top: 4141px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#BlockContactUsFormCaption {
	left: 146.5px;
	top: 4054.5px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(225,27,34,1);
}
#BlockContactUsFormPhoneEditFie {
	fill: transparent;
	stroke: rgba(225,27,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockContactUsFormPhoneEditFie {
	overflow: visible;
	position: absolute;
	width: 393px;
	height: 1px;
	left: 18.25px;
	top: 4519.5px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockContactUsFormPhoneText {
	left: 18.25px;
	top: 4455px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#BlockContactUsFormLastNameEdit {
	fill: transparent;
	stroke: rgba(225,27,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockContactUsFormLastNameEdit {
	overflow: visible;
	position: absolute;
	width: 393px;
	height: 1px;
	left: 18.75px;
	top: 4419.5px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockContactUsFormLastNameText {
	left: 15.25px;
	top: 4240px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#_26 {
	position: absolute;
	width: 393px;
	height: 217px;
	left: 18px;
	top: 4570px;
	overflow: visible;
}
#BlockContactUsFormButton {
	position: absolute;
	width: 392px;
	height: 41px;
	left: 1px;
	top: 176px;
	overflow: visible;
}
#BlockContactUsFormButtonBackgr {
	fill: rgba(225,27,34,1);
	stroke: rgba(255,246,241,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockContactUsFormButtonBackgr {
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 41px;
	left: 0px;
	top: 0px;
}
#BlockContactUsFormButtonText {
	left: 172px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,246,241,1);
}
#BlockContactUsFormCanWeHelpEdi {
	fill: transparent;
	stroke: rgba(225,27,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockContactUsFormCanWeHelpEdi {
	overflow: visible;
	position: absolute;
	width: 392px;
	height: 1px;
	left: 0.75px;
	top: 119px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockContactUsFormCanWeHelpTex {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Frutiger LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(225,27,34,1);
}
#BlockFooterAddress {
	position: absolute;
	width: 200px;
	height: 136px;
	left: 115px;
	top: 4881px;
	overflow: visible;
}
#BlockFooterAddressMainText {
	left: 13px;
	top: 73px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#BlockFooterAddressCaption {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#BlockFooterChap {
	position: absolute;
	width: 260px;
	height: 247px;
	left: 85px;
	top: 5277px;
	overflow: visible;
}
#BlockFooterChapIcon {
	position: absolute;
	width: 260px;
	height: 174px;
	left: 0px;
	top: 73px;
	overflow: visible;
}
#BlockFooterChapCaption {
	left: 49.995px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#BlockFooterOpeningHours {
	position: absolute;
	width: 308px;
	height: 200px;
	left: 61px;
	top: 5047px;
	overflow: visible;
}
#BlockFooterOpeningHoursCaption {
	left: 81.991px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#BlockFooterOpeningHoursMainTex {
	left: 16.491px;
	top: 158px;
	position: absolute;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#BlockFooterOpeningHoursSplitte {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockFooterOpeningHoursSplitte {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 1px;
	left: 0px;
	top: 132px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockFooterOpeningHoursMainTex_ej {
	left: 55.491px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 64px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#BlockFooterCopyrightCaption {
	left: 79px;
	top: 5747px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#BlockFooterCopyrightMainText {
	left: 92px;
	top: 5581px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#BlockFooterOpeningHoursSplitte_em {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockFooterOpeningHoursSplitte_em {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 1px;
	left: 62px;
	top: 5728px;
	transform: matrix(1,0,0,1,0,0);
}
#BlockFooterOpeningHoursSplitte_en {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BlockFooterOpeningHoursSplitte_en {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 1px;
	left: 60px;
	top: 5564px;
	transform: matrix(1,0,0,1,0,0);
}

#BannerLanguageFirstPic {
	display: block;
	opacity: 0;
	margin-top: 1px;
	margin-left: 4px;
	height: 24px;
	width: 24px;
	border-radius: 10px 0px 0px 0px;
	z-index: 2;
}

#BannerLanguageSecondPic {
	display: block;
	opacity: 0;
	margin-top: -2px;
	margin-left: 4px;
	height: 24px;
	width: 24px;
	border-radius: 0px 0px 0px 10px;
	z-index: 2;
}
#Language:hover #BannerLanguageSecondText,
#Language:hover #BannerLanguageFirstPic,
#Language:hover #BannerLanguageSecondPic
{
	opacity: 1;
}
#Language:hover .BannerLanguageWorldPicture
{
	opacity: 0;
}

#BannerLanguageFirstText {
		
	left: 25.545px;
	top: 6.38px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: var(--main-color-light);
	z-index: 2;
}

#BannerLanguageSecondText {
	display: block;
	left: 28px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: var(--main-color-light);
	opacity: 0;
	z-index: 2;
}

.locale-change{
	text-decoration: none;
	color: rgba(225,27,34,1);
	font-family: Frutiger LT Pro;
}

#Language:hover .BannerLanguageFrame #BannerLanguageFrame {
	fill: var(--main-color-light);
	stroke: var(--main-color);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	height: 50px;
}

.BannerLanguageFrame {
	overflow: visible;
	width: 101px;
	height: 28px;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#HamburgerBG {
	fill: rgba(255,246,241,1);
}


.popup {
	position: absolute;
	width: 100%;
	height: 872px;
	top:3978px;
	left: 0px;
	overflow: visible;
	background-color: #0000009d;
	opacity: 1;
	display: none;
	z-index: 99;
}

.popupText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	text-align: left;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: var(--text-color-light);
}

#ContactUsBanner {
	display: block;
}


#contactUsFirstName {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 40px;
	margin-top: 4165px;
	margin-left: 18px;
	background-color: transparent;
	border-bottom: 1px solid var(--main-color);
	white-space: nowrap;
	text-align: left;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color:  var(--main-color);
	z-index: 9;
}
#contactUsFirstName:focus{
	outline: transparent;
}

#contactUsLastName {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 40px;
	margin-top: 4265px;
	margin-left: 18px;
	background-color: transparent;
	border-bottom: 1px solid var(--main-color);
	white-space: nowrap;
	text-align: left;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color:  var(--main-color);
	z-index: 9;
}
#contactUsLastName:focus{
	outline: transparent;
}

#contactUsEmail {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 40px;
	margin-top: 4380px;
	margin-left: 18px;
	background-color: transparent;
	border-bottom: 1px solid var(--main-color);
	white-space: nowrap;
	text-align: left;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color:  var(--main-color);
	z-index: 9;
}
#contactUsEmail:focus{
	outline: transparent;
}

#contactUsPhone {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 40px;
	margin-top: 4480px;
	margin-left: 18px;
	background-color: transparent;
	border-bottom: 1px solid var(--main-color);
	white-space: nowrap;
	text-align: left;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color:  var(--main-color);
	z-index: 9;
}
#contactUsPhone:focus{
	outline: transparent;
}

#contactUsCanWeHelp {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 100px;
	margin-top: 4609px;
	margin-left: 18px;
	background-color: transparent;
	border-bottom: 1px solid var(--main-color);
	white-space: nowrap;
	text-align: left;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color:  var(--main-color);
	z-index: 9;
}
#contactUsCanWeHelp:focus{
	outline: transparent;
}